<!DOCTYPE html>
<html>
	<head>
		<title>中文</title>
		<script src="${base}/assets/css/simple.css" type="text/javascript"></script>
		<script src="${base}/assets/plugins/jquery-1.10.2.js" type="text/javascript"></script>
		<script src="${base}/assets/scripts/websocket.js" type="text/javascript"></script>
		<script src="${base}/assets/scripts/simple.js" type="text/javascript"></script>
	</head>
	<body>
		
		<form action="" type="multipart/form-data">
			<input type="file" multiple="multiple" />
			<input type="submit" value="Uploader" />
		</form>
		
		<div id="progresses">
		
		</div>
		
	</body>
</html>