<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %t %c - %m%n" />
		</layout>
	</appender>

	<appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="false" />
		<param name="MaxFileSize" value="1MB" />
		<param name="File" value="${logdir}/newcollections.log" />
		<param name="MaxBackupIndex" value="3" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %t %c - %m%n" />
		</layout>
	</appender>
	<category name="cn.agilecode" additivity="false">
		<priority value="info" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingFileAppender" />
	</category>
	<category name="com.hibernate" additivity="false">
		<priority value="info" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingFileAppender" />
	</category>
	<root>
		<priority value="info" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingFileAppender" />
	</root>

</log4j:configuration>